<!-- <div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Add data
  </button>
  <button
      mat-raised-button
      [disabled]="!dataSource.length"
      (click)="removeData()"
      class="demo-button">
    Remove data
  </button>
</div> -->


<div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
   
  <tr>

    <th>Single Rooms</th>



  <!-- Position Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>date</th>
    <td mat-cell *matCellDef="let element">{{element.date}}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="allocatedSingle">
    <th mat-header-cell *matHeaderCellDef>allocatedSingle</th>
    <td mat-cell *matCellDef="let element">{{element.allocatedSingle}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="usedSingle">
    <th mat-header-cell *matHeaderCellDef>usedSingle</th>
    <td mat-cell *matCellDef="let element">{{element.usedSingle}}</td>
  </ng-container>

  

  
  <!-- Symbol Column -->
  <ng-container matColumnDef="availableSingle">
    <th mat-header-cell *matHeaderCellDef>availableSingle</th>
    <td mat-cell *matCellDef="let element">{{element.availableSingle}}</td>
  </ng-container>

  
   <!-- Position Column -->
  <ng-container matColumnDef="rateSingle">
    <th mat-header-cell *matHeaderCellDef>rateSingle</th>
    <td mat-cell *matCellDef="let element">{{element.rateSingle}}</td>
  </ng-container>

</tr>

<tr>

  <th>Double Rooms</th>

  <!-- Name Column -->
  <ng-container matColumnDef="allocatedDouble">
    <th mat-header-cell *matHeaderCellDef>allocatedDouble</th>
    <td mat-cell *matCellDef="let element">{{element.allocatedDouble}}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="usedDouble">
    <th mat-header-cell *matHeaderCellDef>usedDouble</th>
    <td mat-cell *matCellDef="let element">{{element.usedDouble}}</td>
  </ng-container>


  
  <!-- Symbol Column -->
  <ng-container matColumnDef="availableDouble">
    <th mat-header-cell *matHeaderCellDef>availableDouble</th>
    <td mat-cell *matCellDef="let element">{{element.availableDouble}}</td>
  </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="rateDouble">
      <th mat-header-cell *matHeaderCellDef>rateDouble</th>
      <td mat-cell *matCellDef="let element">{{element.rateDouble}}</td>
    </ng-container>
  

   <!-- Symbol Column -->
   <ng-container matColumnDef="currency">
    <th mat-header-cell *matHeaderCellDef>currency</th>
    <td mat-cell *matCellDef="let element">{{element.currency}}</td>
  </ng-container>


</tr>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  
</table>



</div>